src/main/mule/jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="af885b82-410c-4361-82d3-881fdfbb4108" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkinsFlow" doc:id="c50623a4-c916-4e55-8733-b1a190fb5686" >
		<http:listener doc:name="Listener" doc:id="648048a4-9ef4-41ff-942b-ab784ca7527b" config-ref="HTTP_Listener_config" path="/jenkin"/>
		<set-payload value='#["hello world"]' doc:name="Set Payload" doc:id="8ad22d4f-eb7e-4df8-8016-c235e2a561ae" />
		<logger level="INFO" doc:name="Logger" doc:id="f9ccbaea-f338-4059-9257-8e8adf3e0e47" message="#[payload]"/>
	</flow>
</mule>
